<%- include('header') -%>
<nav>
    <ul>
        <li><a href="patientsForm">Formulario Pacientes</a></li>
        <li><a href="doctorsForm">Formulario Doctores</a></li>
        <li><a href="appointmentsForm">Formulario Citas</a></li>
    </ul>
</nav>
<%- include('footer') -%>

